extends layout

block content
	.container
		h1 About Us
		p Curabitizzle izzle diam quizzle nisi brizzle mollizzle. Suspendisse dang. Morbi odio. Vivamus neque. Cras orci. Cras maurizzle brizzle, interdizzle away, feugizzle sizzle amet, pimpin' in, ma nizzle.
		ul
			li Pimpizzle foshizzle
			li Crackizzle Bizzle
			li Yeahizzle boyizzle
		p Duis izzle check it out. Go to hizzle shizzlin dizzle ligula, dignissim sizzle tellivizzle, shiznit sheezy, sollicitudizzle nizzle, crackalackin. Maecenas a shiznit. Things malesuada neque et risizzle. Things things. The bizzle own yo' tristique dawg.