extends layout

block content
	.jumbotron
		.container
			h1 How-uh may I-uh herrup-uh you-uh?
			p Shizzlin dizzle izzle dolizzle dapibus gizzle tempizzle tempizzle. Mauris pellentesque phat et turpis. Rizzle izzle tortizzle. Pellentesque eleifend rhoncizzle nisi.
			br
			a.btn.btn-primary.btn-lg(href="#") Click-uh! &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p Bizzle dapibizzle. Curabitur fizzle fizzle, daahng dawg crunk, mattis mammasay mammasa mamma oo sa, eleifend vitae, nunc.
				a.btn.btn-default(href="#") See more-uh
			.col-md-4
				h2 Services
				p Bizzle dapibizzle. Curabitur fizzle fizzle, daahng dawg crunk, mattis mammasay mammasa mamma oo sa, eleifend vitae, nunc.
				a.btn.btn-default(href="#") See more-uh!
			.col-md-4
				h2 Get In Touch
				p Bizzle dapibizzle. Curabitur fizzle fizzle, daahng dawg crunk, mattis mammasay mammasa mamma oo sa, eleifend vitae, nunc.
				a.btn.btn-default(href="#") See more-uh!